# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Data
data/raw/*
data/processed/*

# Trained models
models/*.pkl
models/*.joblib
models/*.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db